{
  NSExecutable = "aplay";
  NSIcon = "generic-sound.tiff";
  NSRole = "Editor";
	XAppWrapper = YES;
  NSTypes = (
    {
      NSUnixExtensions = ( "aiff" );
      NSIcon = "FileIcon_.aiff.tiff";
    },
    {
      NSUnixExtensions = ( "wav" , "wave" );
      NSIcon = "FileIcon_.wav.tiff";
    },
    {
      NSUnixExtensions = ( "au" );
      NSIcon = "FileIcon_.au.tiff";
    }
  );
}
