{
	papersizes = {
		Letter = {
			w = 612;
			h = 792;
		};
		LetterSmall = {
			w = 612;
			h = 792;
		};
		Tabloid = {
			w = 792;
			h = 1224;
		};
		Ledger = {
			w = 1224;
			h = 792;
		};
		Legal = {
			w = 612;
			h = 1008;
		};
		Statement = {
			w = 396;
			h = 612;
		};
		Executive = {
			w = 540;
			h = 720;
		};
		A3 = {
			w = 842;
			h = 1190;
		};
		A4 = {
			w = 595;
			h = 842;
		};
		A4Small = {
			w = 595;
			h = 842;
		};
		A5 = {
			w = 420;
			h = 595;
		};
		B4 = {
			w = 729;
			h = 1032
		};
		B5 = {
			w = 516;
			h = 729;
		};
		Folio = {
			w = 612;
			h = 936;
		};
		Quarto = {
			w = 610; 
			h = 780;
		};
		"10x14" = {
			w = 720;
			h = 1008;
		};
	};
}
