{
   InspectorDescription = "See the description of a Localize File";
   InspectorName = "Strings Inspector";
   InspectorRelease = "0.4";
   InspectorURL = "http://www.gnustep-apps.org";
   Authors  = "Fabien VALLON, Alexander Malmberg ";
   Copyright = "Copyright 2002 Fabien VALLON <fabien.vallon@fr.alcove.com>";	
   CopyrightDescription = "GNU GPL 2.0.";   
}

