{
  NSExecutable = "LibreOffice";
  NSIcon = "StarOffice.tiff";
	XAppWrapper = YES;
  NSTypes = (
    {
      NSUnixExtensions = ( "sdw", "sxw", "stw", "doc", "rtf" );
      NSIcon = "FileIcon_.abw.tiff";
    },
    {
      NSUnixExtensions = ( "txt", "text" );
      NSIcon = "FileIcon_.txt.tiff";
    },
    {
      NSUnixExtensions = ( "html", "htm", "xhtml" );
      NSIcon = "FileIcon_.html.tiff";
    }
  );
}
