{
    NSIcon = "GWNet.tiff";
    NSRole = "Viewer";
    ApplicationDescription = "GWNet";
    ApplicationIcon = "GWNet.tiff";
    ApplicationName = "GWNet";
    ApplicationRelease = "0.1";
    NSTypes = (
      {
        NSUnixExtensions = ( "bmk" );
        NSIcon = "FileIcon_bmk.tiff";
      }
    );
}
