{
    NSIcon = "MDFinder.tiff";
    NSRole = "Editor";
    ApplicationDescription = "MDFinder";
    ApplicationIcon = "MDFinder.tiff";
    ApplicationName = "MDFinder";
    ApplicationRelease = "1.0";
    Authors = (
      "Enrico Sersale <enrico\@fibernet.ro>"
    );
    Copyright = "Copyright (C) 2007 Free Software Foundation, Inc.";
    CopyrightDescription = "Released under the GNU General Public License 2.0";
  NSTypes = (
      {
        NSUnixExtensions = ( "mdss" );
        NSIcon = "SavedSearch.tiff";
      }        
  );    
}
