{
  NSExecutable = "xv";
  NSIcon = "xv.tiff";
  NSRole = "Viewer";
	XAppWrapper = YES;
  NSTypes = (
    {
      NSUnixExtensions = ( "jpeg", "jpg" );
      NSIcon = "FileIcon_.jpg.tiff";
    },
    {
      NSUnixExtensions = ( "tiff", "tif" );
      NSIcon = "FileIcon_.tiff.tiff";
    },
    {
      NSUnixExtensions = ( "xpm", "xbm" );
      NSIcon = "FileIcon_.xpm.tiff";
    },
    {
      NSUnixExtensions = ( "gif" );
      NSIcon = "FileIcon_.gif.tiff";
    }
  );
}
