{
    NSIcon = "Recycler.tiff";
    NSRole = "NSNone";
    ApplicationDescription = "Recycler";
    ApplicationDescription = "Workspace Manager";
    ApplicationIcon = "Recycler.tiff";
    ApplicationName = "Recycler";
    ApplicationRelease = "0.9.4";
    NSBuildVersion = "05 2016";
    CFBundleIdentifier = "org.gnustep.GWorkspace.Recycler";
    Authors = (
      "Riccardo Mottola",
      "Enrico Sersale"
    );
    Copyright = "Copyright (C) 2004-2016 Free Software Foundation, Inc.";
    CopyrightDescription = "Released under the GNU General Public License 2.0 or later";
}
